{% extends 'base.html' %}

{% block title %}
    {{ job.title }}
{% endblock %}

{% block css %}
    <style>
        .job-img {
            max-width: 100px;
            max-height: 100px;
            margin-right: 10px;
        }
        .apply-button {
            margin-top: 20px;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="card">
            <div class="card-header bg-light text-white">
                <h4 class="card-title text-primary">{{ job.title }}</h4>
            </div>
            <div class="card-body">
                <div class="alert alert-success" role="alert">
                    You have successfully Apply this job <br> <hr> Coming Soon Our Team Notified on your Email{{ job.title }}
               
        </div>



        <span class="badge badge-{{ application.status|lower }}">
            {{ application.get_status_display }}
          </span>
          
    </div>
{% endblock %}